{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
{# загружаем фильтр #}
{% load user_filters %}


<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    {{ tmp_user.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                     @{{ tmp_user.get_username }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!--Количество записей -->
                                            Записей: {{ post_count}}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

            <!-- Пост -->
                <div class="card mb-3 mt-1 shadow-sm">
                    {% load thumbnail %}
                    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                         <img class="card-img" src="{{ im.url }}">
                    {% endthumbnail %}
                        <div class="card-body">
                                <p class="card-text">
                                        <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                        <a href="{% url 'profile' tmp_user.get_username %}"><strong class="d-block text-gray-dark">@{{ tmp_user.get_username}}</strong></a>
                                        <!-- Текст поста -->
                                        {{ post.text }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group ">
                                            {% if tmp_user == user %}
                                                <!-- Ссылка на редактирование, показывается только автору записи -->
                                                <a class="btn btn-sm text-muted" href="{% url 'post_edit'  tmp_user.get_username post.id %}" role="button">Редактировать</a>
                                            {% endif %}
                                        </div>
                                        <!-- Дата публикации  -->
                                        <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small>
                                </div>
                        </div>
                    {% include "comments.html" with items=comments form=forms %}
                </div>
     </div>
    </div>
</main>
{% endblock %}