{% extends "base.html" %}
{% load thumbnail %}
{% block title %} {{ tmp_user.get_full_name }} {% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        {{ tmp_user.get_full_name }}

                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{tmp_user.get_username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ followers }} <br />
                                            Подписан: {{ following }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ post_count }}
                                            </div>
                                    </li>
                                {% if tmp_user != request.user %}
                                <li class="list-group-item">
                                    {% if follow_flag %}
                                    <a class="btn btn-lg btn-light"
                                            href="{% url 'profile_unfollow' tmp_user.get_username %}" role="button">
                                            Отписаться
                                    </a>
                                    {% else %}
                                    <a class="btn btn-lg btn-primary"
                                            href="{% url 'profile_follow' tmp_user.get_username %}" role="button">
                                    Подписаться
                                    </a>
                                    {% endif %}
                                </li>
                                {% endif %}
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">

                <!-- Повторяющиеся записи -->

                    {% for post in page %}
            <!-- Вот он, новый include! -->
                        {% include "post_item.html" with post=post %}
                    {% endfor %}

                <!-- Конец блока с отдельным постом -->

                <!-- Остальные посты -->
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}

     </div>
    </div>
</main>
{% endblock %}